<div *ngIf="initializing" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!initializing">
    <form [formGroup]="checkoutForm" (ngSubmit)="checkout()">
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">Payment Method</h5>
                <ul class="list-group">
                    <li *ngFor="let stripePaymentMethod of stripePaymentMethods.myPaymentMethods" class="list-group-item" [ngClass]="{ 'list-group-item-danger': !stripePaymentMethod.verified }">
                        <input
                            (click)="stripePaymentMethod.verified && setPaymentMethod(stripePaymentMethod.itemKey)"
                            type="radio"
                            formControlName="paymentMethodKey"
                            value="{{stripePaymentMethod.itemKey}}"
                            [disabled]="!stripePaymentMethod.verified"
                        />
                        <a (click)="stripePaymentMethod.verified && setPaymentMethod(stripePaymentMethod.itemKey)">
                            {{ stripePaymentMethod.source.bank_name }}{{ stripePaymentMethod.source.brand}} {{stripePaymentMethod.source.funding}} {{ stripePaymentMethod.source.last4 }}
                            <span *ngIf="!stripePaymentMethod.verified">**unverified** </span>
                        </a>
                        <div class="btn-group float-right">
                            <button
                                *ngIf="!stripePaymentMethod.verified"
                                (click)="verify(stripePaymentMethod.stripePaymentMethodId)"
                                type="button"
                                class="btn"
                                [ngClass]="{ 'btn-light' : stripePaymentMethod.verified, 'btn-danger': !stripePaymentMethod.verified }"
                                title="Verify"
                            >
                            <i class="fa fa-check-square"></i>
                            </button>
                            <button
                                (click)="delete(stripePaymentMethod.stripePaymentMethodId)"
                                type="button"
                                class="btn btn-light"
                                [ngClass]="{ 'btn-light' : stripePaymentMethod.verified, 'btn-danger': !stripePaymentMethod.verified }"
                                title="Delete"
                            >
                            <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <input type="radio" formControlName="paymentMethodKey" value="cash" />
                        <a (click)="setPaymentMethod('cash')">
                            Cash / Check
                        </a>
                    </li>
                    <li class="list-group-item">
                        <button (click)="switchTab(pages.debit)" class="btn btn-light nav-link">
                            <i class="fa fa-plus"></i> Add Checking Account
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button (click)="switchTab(pages.credit)" class="btn btn-light nav-link">
                            <i class="fa fa-plus"></i> Add Credit Card
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">Payment Plan</h5>
                <ul class="list-group mb-2">
                    <li *ngFor="let plan of latestPlans" class="list-group-item">
                        <input (click)="setPlan(plan.planId, plan.versionNumber)" type="radio" formControlName="planId" value="{{plan.planId}}" />
                        <a (click)="setPlan(plan.planId, plan.versionNumber)">
                            {{plan.name}} ${{plan.price}}
                        </a>
                    </li>
                </ul>
                <label>Billing day of the month <small>(1-28)</small></label>
                <input type="number" formControlName="paymentDay" class="form-control" />
            </div>
        </div>
        <div>
            <div *ngIf="!loading" class="btn-group">
                <button type="submit" [disabled]="checkoutForm.invalid" class="btn btn-light">Save</button>
                <a (click)="cancel()" *ngIf="!loading" class="btn btn-light">Cancel</a>
            </div>
            <div *ngIf="loading" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </form>
</div>


