<ul class="nav nav-tabs">
    <li class="nav-item">
        <button (click)="switchTab(pages.membershipInfo)" class="nav-link">Membership</button>
    </li>
    <li class="nav-item">
        <button class="nav-link active">Checkout</button>
    </li>
    <li class="nav-item">
        <button (click)="switchTab(pages.credit)" class="nav-link">Credit Card</button>
    </li>
    <li class="nav-item">
        <button (click)="switchTab(pages.debit)" class="nav-link">Checking Account</button>
    </li>
</ul>
<div *ngIf="initializing" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!initializing">
    <form [formGroup]="checkoutForm" (ngSubmit)="checkout()">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Payment Method</h5>
                <ul class="list-group">
                    <li *ngFor="let stripePaymentMethod of stripePaymentMethods.myPaymentMethods" class="list-group-item">
                        <input type="radio" formControlName="stripePaymentMethodId" value="{{stripePaymentMethod.stripePaymentMethodId}}" />
                        <a (click)="setPaymentMethod(stripePaymentMethod.stripePaymentMethodId)">
                            {{ stripePaymentMethod.source.bank_name }}{{ stripePaymentMethod.source.brand}} {{stripePaymentMethod.source.funding}} {{ stripePaymentMethod.source.last4 }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <input type="radio" formControlName="stripePaymentMethodId" value="cash" />
                        <a (click)="setPaymentMethod('cash')">
                            Cash / Check
                        </a>
                    </li>
                    <li class="list-group-item">
                        <button (click)="switchTab(pages.debit)" class="nav-link">
                            <i class="fa fa-plus"></i> Add Checking Account
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button (click)="switchTab(pages.credit)" class="nav-link">
                            <i class="fa fa-plus"></i> Add Credit Card
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Payment Plan</h5>
                <ul class="list-group">
                    <li *ngFor="let plan of latestPlans" class="list-group-item">
                        <input (click)="setPlan(plan.planId, plan.versionNumber)" type="radio" formControlName="planId" value="{{plan.planId}}" />
                        <a (click)="setPlan(plan.planId, plan.versionNumber)">
                            {{plan.name}} ${{plan.price}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button *ngIf="!loading" type="submit" [disabled]="checkoutForm.invalid" class="btn btn-default">Submit</button>
        <div *ngIf="loading" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </form>
</div>


