<ul class="nav nav-tabs">
    <li class="nav-item">
        <button (click)="switchTab(pages.membershipInfo)" class="nav-link">Membership</button>
    </li>
    <li class="nav-item">
        <button (click)="switchTab(pages.checkout)" class="nav-link">Checkout</button>
    </li>
    <li class="nav-item">
        <button class="nav-link active">Credit Card</button>
    </li>
    <li class="nav-item">
        <button (click)="switchTab(pages.debit)" class="nav-link">Checking Account</button>
    </li>
</ul>
<div class="col-sm-12">
    <form [formGroup]="creditSourceForm" (ngSubmit)="getToken()">
        <div class="form-group position-relative mt-2">
            <h5>Card Number<span id="spn_require"></span></h5>
            <div id="card-number" class="form-control"></div>
            <div *ngIf="stripeCardNumberError" class="stripe-error">
                <div>{{stripeCardNumberError}}</div>
            </div>
        </div>
        <div class="pb-1 mb-2"></div>
        <div class="form-group position-relative mt-2">
            <h5>Card holder's name<span id="spn_require"></span></h5>
            <input id="gd-r-cardHolderName" type="text" placeholder="Full name on your card"
            formControlName="cardHolderName" class="form-control usgm-input" />
        </div>
        <div class="pb-1 mb-2"></div>
        <div class="form-group position-relative mt-2">
            <div class="row">
                <div class="col-sx-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group position-relative mt-2">
                        <h5>Expires in</h5>
                        <div id="card-expiry" class="form-control"></div>
                        <div *ngIf="stripeCardExpiryError" class="stripe-error">
                            <div>{{stripeCardExpiryError}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sx-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group position-relative mt-2">
                        <h5>CW<span id="spn_require">*</span></h5>
                        <div id="card-cvc" class="form-control"></div>
                        <div *ngIf="stripeCardCvcError" class="stripe-error">
                            <div>{{stripeCardCvcError}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button *ngIf="!loading" type="submit" [disabled]="creditSourceForm.invalid" class="btn btn-default">Submit</button>
        <div *ngIf="loading" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </form>
</div>
