<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link active">Membership</button>
    </li>
    <li class="nav-item">
        <button (click)="switchTab(pages.checkout)" class="nav-link">Checkout</button>
    </li>
    <li class="nav-item">
        <button (click)="switchTab(pages.credit)" class="nav-link">Credit Card</button>
    </li>
    <li class="nav-item">
        <button (click)="switchTab(pages.debit)" class="nav-link">Checking Account</button>
    </li>
</ul>
<div *ngIf="membership">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Payment Method</h5>
            {{ membership.stripePaymentMethod.source.bank_name }}{{ membership.stripePaymentMethod.source.brand }} {{ membership.stripePaymentMethod.source.funding }} {{ membership.stripePaymentMethod.source.last4 }}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Membership Plan</h5>
            {{ membership.plan.name }}
        </div>
    </div>
</div>
<div *ngIf="!membership">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">No Membership Selected</h5>
        </div>
    </div>
</div>
<button (click)="switchTab(pages.checkout)" class="btn btn-default">Checkout</button>
