<div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!loading && (state === AUTHORIZED || state === NOT_FOUND)">
    <div *ngIf="membership">
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">
                    Membership
                    <button (click)="switchTab(pages.checkout)" class="btn btn-light">
                        <span><i class="fa fa-edit"></i>&nbsp;Edit</span>
                    </button>
                </h5>
                <p>
                    Payment Method: {{ membership.paymentMethod.source.bank_name }}{{ membership.paymentMethod.source.brand }} {{ membership.paymentMethod.source.funding }} {{ membership.paymentMethod.source.last4 }}<br />
                    Membership Plan: {{ membership.plan.name }}<br />
                    Billing Day of Month: {{ membership.paymentDay }}
                </p>

            </div>
        </div>

        <div *ngIf="membership.unpaidSchedules.length" class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">Scheduled Payments</h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let unpaidSchedule of membership.unpaidSchedules">
                    <strong>{{ unpaidSchedule.total | currency }}</strong> {{ unpaidSchedule.paymentDate | date }}
                </li>
            </ul>
        </div>
        <div *ngIf="membership.paidSchedules.length" class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">Payment History</h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let paidSchedule of membership.paidSchedules">
                    <strong>{{ paidSchedule.total | currency }}</strong> {{ paidSchedule.paymentDate | date }}
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="!membership" class="mb-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No Membership Selected</h5>
                <button (click)="switchTab(pages.checkout)" class="btn btn-light">
                    <span><i class="fas fa-cart"></i>&nbsp;Checkout</span>
                </button>
            </div>
        </div>
    </div>

</div>
<div *ngIf="state === UNAUTHORIZED" class="jumbotron">
    <h1 class="display-4">Membership Status Required</h1>
</div>
<div *ngIf="state === ERROR" class="jumbotron">
    <h1 class="display-4">Unknown Error</h1>
</div>
